<h1>Buildings</h1>
<hr/>
{{#each model as |building|}}

  <div class="alert alert-info">
    Name: {{building.name}}, Number Of Flats: {{building.numberOfFlats}}
  </div>

{{else}}
  <div class="bg-warning">
    Sorry, nobody is here.
  </div>
{{/each}}
